<% @messages.each do |message| %>
  <p><%= message.content %></p>
<% end %>
<div>
<%= form_with(model:[@group, @message], local: true) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit'送信する' %>
<% end %>
</div>

